body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8); /* Darker background */
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Same background color and transparency as centered div */
    overflow: hidden;
    border-bottom: 2px solid black;
    height: 75px; /* Adjust the height of the navbar */
}

.navbar .logo {
    float: left;
    padding: 5px;
}

.navbar button {
    float: left;
    height: 50px; /* Adjust the height of the buttons */
    line-height: 50px; /* Center the text vertically */
    width: auto;
    color: #000;
    text-align: center;
    padding: 0 20px; /* Adjust the padding inside the buttons */
    margin: 10px 5px; /* Adjust the margins between buttons */
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    font-size: 18px; /* Adjust the font size of the buttons */
}

.navbar button:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
}

.navbar .right {
    float: right;
}

.centered {
    position: absolute;
    top: 50%;
    left: 25%; /* Adjust left position here */
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    padding: 40px; /* Adjust the padding for the "centered" div */
    border-radius: 20px; /* Add border radius for rounded corners */
    border: 3px solid black;
}

.centered h1 {
    margin-top: 0;
    text-align: left; /* Align the heading to the left */
    margin-left: 20px; /* Adjust margin as needed */
    font-size: 36px; /* Adjust the font size of the heading */
}

.centered h4 {
    text-align: left; /* Align the subheading to the left */
    margin-left: 20px; /* Adjust margin as needed */
    font-size: 24px; /* Adjust the font size of the subheading */
}

.centered button {
    margin: 20px; /* Adjust the margin around the buttons */
    padding: 20px 40px; /* Adjust the padding of the buttons */
    font-size: 20px; /* Adjust the font size of the buttons */
    border-radius: 20px; /* Add border radius for rounded corners */
}

.centered button:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.7); /* Add transparency to the hover effect */
    border: 2px solid white;
    color: white;
}

.Start-Buttons {
    border-radius: 20px;
    color: black;
    background-color: transparent;
}